body {
    margin: 0;
    background-image: linear-gradient(to #E4E2E5, #E4E2E5);
  }
  
  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #fcfcfc3f;
    grid-gap: 1.5em;
    padding: 0 40px;
  }
  
  #logo {
    display: grid;
    justify-content: start;
    align-content: left;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #000;
  }
  
  .logo span {
    color: #0474bc;
  }
  
  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #0474bc;
  }